@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'android';
    src: url(pacote-projeto-d010/fontes/idroid.otf) format('opentype');
    font-weight: normal;
}

* {
    margin: 0px;
    padding: 0px;
}

:root {
    --cor0: #ebe5c5;
    --cor1: #83e1ad;
    --cor2: #3ddc04;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;

    --font-padrao: Arial, Helvetica, sans-serif;
    --font-destaque: 'Bebas Neue', cursive;
    --font-android: 'android', cursive;
}

body {
    background-color: var(--cor0);
    font-family: var(--font-padrao);
}

header {
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor5));
    height: 150px;
    text-align: center;
    color: white;
    padding: 40px 0px 50px 0px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.356);
}

header > h1 {
    font-family: var(--font-destaque);
    font-weight: normal;
    font-size: 3em;
    margin: 0px 0px 20px 0px;
}

header > p {
    font-size: 1.2em;
    font-weight: normal;
    padding-bottom: 50px;
    margin: auto;
}

nav {
    background-color: var(--cor5);
    padding: 10px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.356);
}

nav > a {
    color: var(--cor1);
    text-decoration: none;
    font-weight: bolder;
    padding: 10px;
    border-radius: 5px;
}

nav > a:hover {
    color: var(--cor5);
    background-color: var(--cor1);
    transition-duration: .5s;
    padding: 10px;
}

main {
    background-color: white;
    max-width: 1000px;
    min-width: 300px;
    margin:  auto;
    padding:  20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.39);
    border-radius: 0px 0px 10px 10px;
}

main > h1 {
    font-family: var(--font-android);
    color: var(--cor4);
    font-weight: normal;
    font-size: 1.8em;
    margin: 0px 0px 15px 0px;
}

main h2 {
    font-family: var(--font-android);
    font-weight: normal;
    font-size: 1.5em;
    background-image: linear-gradient(to right, var(--cor1), transparent);
    color: var(--cor4);
    padding: 2px 0px 2px 0px;
    margin: 10px 0px 10px 0px;
}

main p {
    font-family: var(--font-padrao);
    font-size: 1em;
    text-indent: 30px;
    text-align: justify;
    line-height: 2em;
    margin: 10px 0px;
}

main strong {
    color: var(--cor4);
    font-weight: bolder;
}

main a {
    color: var(--cor5);
    background-color: var(--cor1);
    text-decoration: none;
    font-weight: bold;
    padding: 1px 7px;
}

main a:hover{
    color: var(--cor4);
    text-decoration: underline;
}

a.externo:after {
    content: '\00A0\1F517'
}

main img {
    width: 100%;
}

.pq {
    max-width: 350px;
    display: block;
    margin: auto;
}

.video {
    background-color: var(--cor5);
    margin: 0px -20px;
    padding: 20px;
    padding-bottom: 56.45%;
    position: relative;
}

.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

aside {
    background-color: var(--cor1);
    margin: 25px 0px 0px 0px;
    padding: 0px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.37);
}

aside h3 {
    background-color: var(--cor4);
    color: white;
    margin: 0px -10px 0px -10px;
    padding: 10px 10px 10px 10px;
    border-radius: 10px 10px 0px 0px;
}

aside ul {
    list-style-type: '\2714\00A0\00A0';
    list-style-position: inside;
    columns: 2;
}

footer {
    text-align: center;
    background-color: var(--cor5);
    color: white;
    font-size: 0.8em;
    margin-top: 30px;
    padding: 5px;
}

footer a {
    text-decoration: none;
    color: white;
    font-weight: bolder;
}

footer a:hover {
    text-decoration: underline;
    color: var(--cor1);
}